.header {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  display: block;
  color: #61dafb;
  text-align: center;
  text-decoration: none;
  margin-bottom: 15px;
}

.footer {
  text-align: center;
  margin: 15px 0 15px 0;
}

/* This is left for a future logo. To play around with it. */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
